@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body{
	background-color: #fcd04b;
	font-family: Lato;
	color: white;
}
/*animated-button*/

.btn{
	outline:none;
	border:none;
	cursor:pointer;
	display: block;
	position:relative;
	background-color: #fcad26;
	font-size: 16px;
	font-weight:300px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding:25px 80px;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 0 6px #efa424;
}
.btn:hover {
	box-shadow: 0 4px #efa424;
	top: 2px;
}
.btn:active {
	box-shadow: none;
	top: 6px;
}
h1{
	text-align: center;
	font-weight: 300;
	font-family: Raleway;
	color: #34495e;
}
/*An Image Gallery*/

.container {
  display: flex;
  justify-content: center;
}


div.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #000000;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}


div.item img {
  max-width: 100%;
  vertical-align: top;
  height: 210px;
}

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

div.item a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

div.item.blue {
  background-color: #34495e;
}
div.item.blue i {
  color: #34495e;
}
div.item.red {
  background-color: #e74c3c;
}
div.item.red i {
  color: #e74c3c;
}

div.item.green {
  background-color: #16a085;
}
div.item.green i {
  color: #16a085;
}

div.item:hover img {
	opacity: 0.3;
	filter: grayscale(100%);
}
div.item * {
  transition:all .35s ease-in-out;
}
div.item i {
	transform: translate(-50%,-50%) scale(0);
	transition: all 1s 0ms cubic-bezier(0.6, -0.28, 0.735,0.045);
}

div.item:hover i {
	transform: translate(-50%,-50%) scale(1);
	transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32,1.275);
}
/*loader*/
.loader {
  margin:auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 16px solid #bdc3c7;
  width: 120px;
  height: 120px;
  border-top-color: #1abc9c;
  border-bottom-color: #3498db;
  border-radius: 50%;
  animation: coloredspin 4s linear infinite;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes coloredspin {
  0%{
    transform: rotate(0deg) scale(1);
    border-top-color: #1abc9c;
    border-bottom-color: #1abc9c;
  }
  25% {
    border-top-color: #2ecc71;
    border-bottom-color: #2ecc71;
  }
  50% {
    transform: rotate(360deg) scale(1.05);
    border-top-color: #3498db;
    border-bottom-color: #3498db;
  }
  75% {
    border-top-color: #9b59b6;
    border-bottom-color: #9b59b6;
  }
  100%{
    transform: rotate(720deg) scale(1);
    border-top-color: #1abc9c;
    border-bottom-color: #1abc9c;
  }
}

@keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


